p{
	text-align: center; 
}

h1 {
	text-align: center
}

#banner {
	width: 100%;
}

#pa {
	font-size: 20px;"
}

body {
	background: #CCCCCC
}

em strong{
	color: rgb(0,110,150);
}